{% extends "layout.html" %}
{% load static %}

{% block 'titulo' %}Portf]olio{% endblock%}

{% block 'conteudo' %}
    <div class="gallery_area clearfix">
        <div class="container-fluid clearfix">
            <div class="gallery_menu">
                <div class="portfolio-menu">
                    <button class="active btn" type="button" data-filter="*">All</button>
                    <button class="btn" type="button" data-filter=".portraits">Portraits</button>
                    <button class="btn" type="button" data-filter=".weddings">Weddings</button>
                    <button class="btn" type="button" data-filter=".studio">Studio</button>
                    <button class="btn" type="button" data-filter=".fashion">Fashion</button>
                    <button class="btn" type="button" data-filter=".life">Lifestyle</button>
                </div>
            </div>

            <div class="row portfolio-column">

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item portraits life">
                    <img src={% static "img/bg-img/p1.jpg" %} alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href={% static "img/bg-img/p1.jpg" %}><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item weddings">
                    <img src={% static "img/bg-img/p2.jpg" %} alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href={% static "img/bg-img/p2.jpg" %}><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item portraits">
                    <img src={% static "img/bg-img/p3.jpg" %} alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href={% static "img/bg-img/p3.jpg" %}><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item weddings life">
                    <img src={% static "img/bg-img/p4.jpg" %} alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href={% static "img/bg-img/p4.jpg" %}><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item weddings">
                    <img src={% static "img/bg-img/p5.jpg" %} alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href={% static "img/bg-img/p5.jpg" %}><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item portraits">
                    <img src={% static "img/bg-img/p6.jpg" %} alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href={% static "img/bg-img/p6.jpg" %}><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item studio">
                    <img src={% static "img/bg-img/p7.jpg" %} alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href={% static "img/bg-img/p7.jpg" %}><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item studio life">
                    <img src={% static "img/bg-img/p8.jpg" %} alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href={% static "img/bg-img/p8.jpg" %}><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item fashion">
                    <img src={% static "img/bg-img/p9.jpg" %} alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href={% static "img/bg-img/p9.jpg" %}><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item portraits">
                    <img src={% static "img/bg-img/p10.jpg" %} alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href={% static "img/bg-img/p10.jpg" %}><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item studio life">
                    <img src={% static "img/bg-img/p11.jpg" %} alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href={% static "img/bg-img/p11.jpg" %}><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item fashion">
                    <img src={% static "img/bg-img/p12.jpg" %} alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href={% static "img/bg-img/p12.jpg" %}><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center mt-70">
                    <a href="#" class="btn studio-btn"><img src={% static "img/core-img/logo-icon.png" %} alt=""> Load More</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer-area">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <div class="footer-content h-100 d-md-flex align-items-center justify-content-between">
                        
                        <div class="single-footer-content">
                            <img src={% static "img/core-img/map.png" %} alt="">
                            <a href="#">Blvd Libertad, 34 m05200 Arévalo</a>
                        </div>
                        
                        <div class="single-footer-content">
                            <img src={% static "img/core-img/smartphone.png" %} alt="">
                            <a href="#">0034 37483 2445 322</a>
                        </div>
                        
                        <div class="single-footer-content">
                            <img src={% static "img/core-img/envelope-2.png" %} alt="">
                            <a href="#">hello@company.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}